# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [ ]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Nesse desafio eu preciso que voce agrupe os dados da tabela `Invoice` e exiba apenas os valores maiores por `Customer.CustomerId` apenas do Brazil utilizando funções como: `ROW_NUMBER e PARTITION`

Critério:  
que voce escreva essa transformação em apenas uma query. Boa sorte.


Resultado esperada:  

|CustomerId|FirstName|LastName |country|total
|----------:|--------:|--------:|------:|----
|         1|Luís     |Gonçalves|Brazil |13.86
|        10|Eduardo  |Martins  |Brazil |13.86
|        11|Alexandre|Rocha    |Brazil |13.86
|        12|Roberto  |Almeida  |Brazil |13.86
|        13|Fernanda |Ramos    |Brazil |13.86

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [1]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

# Solution Challenge 8 - Thomaz Antonio Rossito Neto

In [63]:
%%sql
select CustomerId,
       FirstName,
       LastName,
       country,
       total  
  from (
        select ROW_NUMBER() OVER(PARTITION BY country ORDER BY total DESC) AS Row,   
               iv.CustomerId as CustomerId,
               ct.FirstName  as FirstName,
               ct.LastName   as LastName,
               country       as country,
              round(total,2) as total        
          from invoice as iv
         inner join customer as ct
            on iv.CustomerId = ct.CustomerId
         where country = 'Brazil'    
        )  limit 5

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Luís', 'Gonçalves', 'Brazil', 13.86),
 (10, 'Eduardo', 'Martins', 'Brazil', 13.86),
 (11, 'Alexandre', 'Rocha', 'Brazil', 13.86),
 (12, 'Roberto', 'Almeida', 'Brazil', 13.86),
 (13, 'Fernanda', 'Ramos', 'Brazil', 13.86)]