# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [22]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/upgrade-sqlite3.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos que seja feito uma operação de `UPDATE` na coluna `Customer.Company` onde o campo  `Customer.Company` nullo recebe o valor "xxxxxxxxxxxx"

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|CustomerId|FirstName|LastName    |Company                                         |Address         
|---------:|--------:|------------:|-----------------------------------------------:|----------------
|         1|Luís     |Gonçalves   |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro F
|         2|Leonie   |Köhler      |xxxxxxxxxxxx                                    |Theodor-Heuss-St
|         3|François |Tremblay    |xxxxxxxxxxxx                                    |1498 rue Bélange
|         4|Bjørn    |Hansen      |xxxxxxxxxxxx                                    |Ullevålsveien 14
|         5|František|Wichterlová |JetBrains s.r.o.                                |Klanova 9/506   
|         6|Helena   |Holý        |xxxxxxxxxxxx                                    |Rilská 3174/6   
|         7|Astrid   |Gruber      |xxxxxxxxxxxx                                    |Rotenturmstraße 
|         8|Daan     |Peeters     |xxxxxxxxxxxx                                    |Grétrystraat 63 
|         9|Kara     |Nielsen     |xxxxxxxxxxxx                                    |Sønder Boulevard
|        10|Eduardo  |Martins     |Woodstock Discos                                |Rua Dr. Falcão F
|        11|Alexandre|Rocha       |Banco do Brasil S.A.                            |Av. Paulista, 20
|        12|Roberto  |Almeida     |Riotur                                          |Praça Pio X, 119

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize esse link: https://www.tutlane.com/tutorial/sqlite

In [23]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3'

# Solution Challenge 9 - Thomaz Antonio Rossito Neto

Foi realizado um "update" nos registros "null/None" do campo "Company""

In [25]:
%%sql
UPDATE Customer
   SET Company = "xxxxxxxxxxxx"
 WHERE Company IS NULL

In [27]:
%%sql
SELECT CustomerId,
       FirstName,
       LastName,
       Company,
       Address
  FROM Customer

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170'),
 (2, 'Leonie', 'Köhler', 'xxxxxxxxxxxx', 'Theodor-Heuss-Straße 34'),
 (3, 'François', 'Tremblay', 'xxxxxxxxxxxx', '1498 rue Bélanger'),
 (4, 'Bjørn', 'Hansen', 'xxxxxxxxxxxx', 'Ullevålsveien 14'),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506'),
 (6, 'Helena', 'Holý', 'xxxxxxxxxxxx', 'Rilská 3174/6'),
 (7, 'Astrid', 'Gruber', 'xxxxxxxxxxxx', 'Rotenturmstraße 4, 1010 Innere Stadt'),
 (8, 'Daan', 'Peeters', 'xxxxxxxxxxxx', 'Grétrystraat 63'),
 (9, 'Kara', 'Nielsen', 'xxxxxxxxxxxx', 'Sønder Boulevard 51'),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155'),
 (11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022'),
 (12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119'),
 (13, 'Fernanda', 'Ramos', 'xxxxxxxxxxxx', 'Qe 7 Bloco G'),
 (14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW'),
 (15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street'),
 (16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway'),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way'),
 (18, 'Michelle', 'Brooks', 'xxxxxxxxxxxx', '627 Broadway'),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop'),
 (20, 'Dan', 'Miller', 'xxxxxxxxxxxx', '541 Del Medio Avenue'),
 (21, 'Kathy', 'Chase', 'xxxxxxxxxxxx', '801 W 4th Street'),
 (22, 'Heather', 'Leacock', 'xxxxxxxxxxxx', '120 S Orange Ave'),
 (23, 'John', 'Gordon', 'xxxxxxxxxxxx', '69 Salem Street'),
 (24, 'Frank', 'Ralston', 'xxxxxxxxxxxx', '162 E Superior Street'),
 (25, 'Victor', 'Stevens', 'xxxxxxxxxxxx', '319 N. Frances Street'),
 (26, 'Richard', 'Cunningham', 'xxxxxxxxxxxx', '2211 W Berry Street'),
 (27, 'Patrick', 'Gray', 'xxxxxxxxxxxx', '1033 N Park Ave'),
 (28, 'Julia', 'Barnett', 'xxxxxxxxxxxx', '302 S 700 E'),
 (29, 'Robert', 'Brown', 'xxxxxxxxxxxx', '796 Dundas Street West'),
 (30, 'Edward', 'Francis', 'xxxxxxxxxxxx', '230 Elgin Street'),
 (31, 'Martha', 'Silk', 'xxxxxxxxxxxx', '194A Chain Lake Drive'),
 (32, 'Aaron', 'Mitchell', 'xxxxxxxxxxxx', '696 Osborne Street'),
 (33, 'Ellie', 'Sullivan', 'xxxxxxxxxxxx', '5112 48 Street'),
 (34, 'João', 'Fernandes', 'xxxxxxxxxxxx', 'Rua da Assunção 53'),
 (35, 'Madalena', 'Sampaio', 'xxxxxxxxxxxx', 'Rua dos Campeões Europeus de Viena, 4350'),
 (36, 'Hannah', 'Schneider', 'xxxxxxxxxxxx', 'Tauentzienstraße 8'),
 (37, 'Fynn', 'Zimmermann', 'xxxxxxxxxxxx', 'Berger Straße 10'),
 (38, 'Niklas', 'Schröder', 'xxxxxxxxxxxx', 'Barbarossastraße 19'),
 (39, 'Camille', 'Bernard', 'xxxxxxxxxxxx', '4, Rue Milton'),
 (40, 'Dominique', 'Lefebvre', 'xxxxxxxxxxxx', '8, Rue Hanovre'),
 (41, 'Marc', 'Dubois', 'xxxxxxxxxxxx', '11, Place Bellecour'),
 (42, 'Wyatt', 'Girard', 'xxxxxxxxxxxx', '9, Place Louis Barthou'),
 (43, 'Isabelle', 'Mercier', 'xxxxxxxxxxxx', '68, Rue Jouvence'),
 (44, 'Terhi', 'Hämäläinen', 'xxxxxxxxxxxx', 'Porthaninkatu 9'),
 (45, 'Ladislav', 'Kovács', 'xxxxxxxxxxxx', 'Erzsébet krt. 58.'),
 (46, 'Hugh', "O'Reilly", 'xxxxxxxxxxxx', '3 Chatham Street'),
 (47, 'Lucas', 'Mancini', 'xxxxxxxxxxxx', 'Via Degli Scipioni, 43'),
 (48, 'Johannes', 'Van der Berg', 'xxxxxxxxxxxx', 'Lijnbaansgracht 120bg'),
 (49, 'Stanisław', 'Wójcik', 'xxxxxxxxxxxx', 'Ordynacka 10'),
 (50, 'Enrique', 'Muñoz', 'xxxxxxxxxxxx', 'C/ San Bernardo 85'),
 (51, 'Joakim', 'Johansson', 'xxxxxxxxxxxx', 'Celsiusg. 9'),
 (52, 'Emma', 'Jones', 'xxxxxxxxxxxx', '202 Hoxton Street'),
 (53, 'Phil', 'Hughes', 'xxxxxxxxxxxx', '113 Lupus St'),
 (54, 'Steve', 'Murray', 'xxxxxxxxxxxx', '110 Raeburn Pl'),
 (55, 'Mark', 'Taylor', 'xxxxxxxxxxxx', '421 Bourke Street'),
 (56, 'Diego', 'Gutiérrez', 'xxxxxxxxxxxx', '307 Macacha Güemes'),
 (57, 'Luis', 'Rojas', 'xxxxxxxxxxxx', 'Calle Lira, 198'),
 (58, 'Manoj', 'Pareek', 'xxxxxxxxxxxx', '12,Community Centre'),
 (59, 'Puja', 'Srivastava', 'xxxxxxxxxxxx', '3,Raj Bhavan Road')]